<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd" version="5.0">
  <servlet>
    <description></description>
    <display-name>connexionBD</display-name>
    <servlet-name>connexionBD</servlet-name>
    <servlet-class>connection.connexionBD</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connexionBD</servlet-name>
    <url-pattern>/connexionBD</url-pattern>
  </servlet-mapping>
  <display-name>Gestion_Etudiant</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>web.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>web.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Delete</servlet-name>
    <servlet-class>web.Delete</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Modifier</servlet-name>
    <servlet-class>web.Modifier</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Ajouter</servlet-name>
    <servlet-class>web.Ajouter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Delete</servlet-name>
    <url-pattern>/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Modifier</servlet-name>
    <url-pattern>/Modifier</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Ajouter</servlet-name>
    <url-pattern>/Ajouter</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>gestion_etu</display-name>
    <servlet-name>gestion_etu</servlet-name>
    <servlet-class>gestion.gestion_etu</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>gestion_etu</servlet-name>
    <url-pattern>/gestion_etu</url-pattern>
  </servlet-mapping>
</web-app>